.card {
	margin: 0;
	padding: 0;
	padding: 0;
	@extend .g-island;

	&__form-wrapper {
        padding-top: 20px;
        
        &--settings {
            padding-top: 32px;
        }
	}
}

.card-col {
	margin-bottom: $space*3;
}

.card-title {
	position: relative;
	margin-bottom: 18px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.428;
	color: $gray-base;
	letter-spacing: 0.08em;
	text-transform: uppercase;

	&::before {
		position: absolute;
		display: block;
		content: '';
		bottom: -18px;
		left: -24px;
		width: calc(100% + 48px);
		height: 1px;
		background-color: $gray-light;
    }
    
    &--password {
        text-transform: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.313;
        letter-spacing: 0.1px;
        color: $gray-base;
    
        @include media-breakpoint-up(lg) {
            margin-bottom: 36px;
            font-size: 20px;
            line-height: 1.6;
            letter-spacing: 0.2px;
        }

        &::before {
            display: none;
        }
    }
}

.card-body {
	padding: 20px $space*3 $space*5;
}

@include media-breakpoint-between(md, lg) {
	.card-deck {
		margin: 0;
	}
}

@include media-breakpoint-up(md) {
	.card-body {
		padding: 20px $space*3 $space*5;
	}
}

@include media-breakpoint-up(lg) {
	.card {
		&__form-wrapper {
			padding-top: $space*4;
		}
	}

	.card-col {
		margin-bottom: $space*4;
	}

	.card-body {
		height: auto;
	}
}
