.g-menu-transition {
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.g-island {
	border-radius: 4px;
	border: 1px solid $gray-light;
	box-shadow: 0px 6px 18px rgba(8, 26, 43, 0.04);
}
