h3 {
    font-weight: 500;
}

body {
    overflow-y: visible;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
    background-color: #fff;
    width: 0;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: #F8F9FA;
    mix-blend-mode: normal;
    border-radius: 4px;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #A0A4A8;
    border-radius: 4px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display:none;
}

.vs__dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #A0A4A8;
    border-radius: 4px;
    opacity: 0.1;
}

.vs__dropdown-menu:hover::-webkit-scrollbar-thumb {
    background-color: #A0A4A8;
    border-radius: 4px;
    opacity: 0.3;
}

.vs__dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #A0A4A8;
    opacity: 0.7;
}

.vs__dropdown-menu::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

.vs__dropdown-menu::-webkit-scrollbar-corner {
    border-radius: 50%;
}

.vs__dropdown-menu::-webkit-scrollbar-track {
    background-color: #F8F9FA;
    mix-blend-mode: normal;
    border-radius: 4px;
}

/* scroll styles for another browsers */
.vs__dropdown-menu {
    scrollbar-color: #A0A4A8 #F8F9FA;
    scrollbar-width: 4px;
}

