.h-under-input {
	margin-top: 22px;
	margin-bottom: 22px;
}

.h-link-small {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.2px;
	display: inline-block;
}

.h-text-medium {
	font-weight: 500;
}

.h-text-semibold {
	font-weight: 500;
}

.h-vertical-space {
	margin-top: $space*3;
	margin-bottom: $space*3;
}

.h-text-notify {
	font-size: 14px;
	font-weight: 500;
	color: $gray-dark;
}

.h-margin-bottom-large {
	margin-bottom: 53px !important;
}

.h-text-gray-dark {
	color: $gray-dark !important;
}

.h-text-gray-darker {
	color: $gray-darker;
}

.h-text-size-small {
	font-size: 14px !important;
}

.h-text-size-smaller {
    font-size: 14px !important;
    line-height: 1.14;
    letter-spacing: 0.4px;
}

.h-line-height-none {
	line-height: 1;
}

.h-hr {
	border-top: 1px dashed $gray;
	
	@include media-breakpoint-up(lg) {
        max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
}

.h-title {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	color: $gray-base;
	letter-spacing: $letter-spacing-base;
}

.h-small-title {
	margin-top: 30px;
	margin-bottom: 20px;

	@include media-breakpoint-up(lg) {
		margin-top: 35px;
	}
}

.h-page-title {
	margin: 0;
	font-weight: 500;
	font-size: 26px;
	letter-spacing: $letter-spacing-base;
	line-height: 1.3462;
}

.h-text-success-accent {
	color: $success-accent !important;
}

.h-text-gray {
	color: $gray !important;
}