.pagination {
    position: relative;
    margin-bottom: 0;


    .page-item {
        &:first-of-type {
            margin-left: auto;
        }
    }

    li {
        margin-left: 14px;
    }
}

.b-pagination .prev .svg-icon {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
}

.b-pagination .next .svg-icon {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
}

.b-pagination .page-item:first-child .page-link {
    padding: 6px 7px;
}

.b-pagination .page-item:last-child .page-link {
    padding: 6px 7px;
}