.v-select {
	.vs__selected-options {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
	}

	.vs__selected {
		margin: 0;
		padding: 0;
		height: $space*3;
		color: $gray-base;
		font-weight: 400;
        font-size: 1em;
        white-space: nowrap;
        word-break: normal;
        text-overflow: ellipsis;
	}

	.vs__search, .vs__search:focus {
		margin: 0;
		padding: 0;
        height: $space*3;
	}

	.select-toggler {
		width: 9px;
		height: 5px;
		color: $gray-dark;
        position: relative;

		svg {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&.vs--open {
		.select-toggler {
            transform: scale(1, -1);
		}
	}

	.focused {
		.select-toggler {
            color: $primary;
		}
	}

	&.vs--unsearchable {
		.vs__search {
			position: absolute;
			z-index: -1;
		}
	}
}

.vs__dropdown-menu {
    margin-top: 2px;
    border-radius: $space;
    padding: 4px 0;
}

.vs__dropdown-option {
    font-size: $font-size-sm;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding: 10px $space*2;
}